<section class="py-12 bg-black text-white">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-6 font-display uppercase text-soul-red-500">Seguici sui social</h2>
    <p class="mb-6 text-soul-gray-300">Guarda i nostri ultimi post su <a href="https://www.facebook.com/soulndahole" target="_blank" rel="noopener" class="text-soul-red-400 underline">Facebook</a></p>
    <div class="flex justify-center">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoulndahole%2Fposts%2Fpfbid0vd2BXQmygDQED7NoRY5w4zrL4fHfn1tpi5dQevPuWVR6A6hXm8xk3BQZZ4wdkEXPl&show_text=true&width=500" width="500" height="652" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</section> 