---
import '../styles/global.css';
import 'aos/dist/aos.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="it" class="lenis lenis-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="../scripts/lenis-init.js"></script>
	</body>
</html>

<style is:global>
	:root {
		--font-sans: 'Open Sans', sans-serif;
		--font-display: 'Teko', sans-serif;
	}

	html {
		font-family: system-ui, sans-serif;
		/* scroll-behavior: smooth; Rimosso, ora gestito da JS (Lenis) */
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #000;
		color: #fff;
		position: relative;
	}

	footer {
		position: relative;
	}

	main {
		position: relative;
	}

	/* Stile per la scrollbar */
	body::-webkit-scrollbar {
		width: 10px;
	}

	body::-webkit-scrollbar-track {
		background: #000;
	}

	body::-webkit-scrollbar-thumb {
		background-color: #fff;
		border-radius: 20px;
		border: 3px solid #000;
	}
</style>
